<%- include('../header') -%>
    <div class="container-fluid">
        <div class="my-5">
            <h4>List of freelancer</h4>
        </div>
        <div class="row">
            <% freelancers.forEach( free=> {%>
                <div class="card mb-3 mx-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="avatar">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Name:
                                    <%= free.first_name%>
                                        <%= free.last_name%>
                                </h5>
                                <p class="card-text">Email:
                                    <%= free.email%>
                                </p>
                                <p class="card-text"><small class="text-body-secondary">Contact:
                                        <%= free.contact_information%>
                                    </small>
                                </p>
                                <a href="/freelancers/update/<%= free.id %>" class="btn btn-success">edit</a>
                                <a href="/freelancers/delete/<%= free.id %>" class="btn btn-danger">hapus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
        </div>

        <div>
            <a href="/freelancers/create" class="my-3 btn btn-primary">Tambahkan freelancer</a>
        </div>
    </div>
    <%- include('../footer') -%>